# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.exe.stackdump
*.dump

# Output Files
*.nc
*swan_Bottom.bot
*swan_grid.grd
*swan_in_bottom.txt
*swan_in_wind.txt
*.xlsx
*.cli
*.pcp
*.slr
*.hmd
*.wnd
*.tmp
*_tmp.txt

# Data Files
Data/*
fcst_surf125.*
fcst_phy2m125.*

roms_cdl/*
CDL/*
ROMS_grid_Yaeyama/*
OTPS/DATA/*
!OTPS/DATA/get_tpxo9_atlas30.sh

Projects/GetERA5/my_setup.sh

# Backup Files
backup/*
OTPS/OTPS_back/*
OTPS/OTPS2/*
OTPS/OTPS2_back/*
OTPS/OTPSnc/*
Projects/test/*

# MATLAB temp. files
*.asv
*.mat

# Fortran temp. output files
fort.*
